// footer
footer
  .center
    .footer
      .footer__logo
        // <img class="footer__logo" src="img/logob.png" alt="">
        a(href='index')
          p.footer__logo ЗооStore.
      .footer__block
        h4 Меню
        .footer__downbar
          a(href='index') Головна
          a(href='catalog') Каталог
          a(href='order') Кошик
      .footer__block
        h4 Контакти
        .footer__downbar
          a(href='#') +380-989-733-788
          a(href='https://www.google.com/search?q=help%40interier.com&oq=help%40interier.com&aqs=chrome..69i57j69i58.714j0j7&sourceid=chrome&ie=UTF-8') grinpis01@gmail.com
          .footer__block-links
            a(href='https://www.facebook.com/')
              img(src='../img/facebook.svg' alt='facebook')
            a(href='https://www.instagram.com/')
              img(src='../img/inst.svg' alt='instagram')
            a(href='https://twitter.com/?lang=ru')
              img(src='../img/twitter.svg' alt='twitter')
      .footer__block.footer__button
        p.footer__text-p Отримуйте наші новини та оновлення
        input(type='email' placeholder='Введіть пошту')
        button Підписатися
// footer