div(
    class="site-nav button-primary"
)   
    div(class="close-button-div")
        a(href='#' class='button-primary-outlined close-nav')
            img(src='../img/chevron1.png' alt='')
    h3(class="cart-header") Товари в кошику:
    div(class=".category-list")
    div(id="card-nav") 
    div(class='text-right')
        a(
            href="/order"
            target="_blank"
        ) 
            button(class="button-primary-outlined") Купити
