.catalog{
    margin-top: 64px;
    margin-bottom: $gap;

    &_h2{
    
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $color-text-black;
        margin-bottom: $gap;
        }

        &-box{
            display: flex;
            gap: $gap;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            -moz-column-gap: 28px;
            column-gap: 28px;
            row-gap: 39px;

            &__items{
                width: ($width-content - $gap * 2) / 3;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
              }
          }
}