.site-nav {
    width: 400px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999999;
    padding: 10px;
    transition: all ease 0.3s;
    color: #ffff;
    background-color: rgb(8, 8, 8);
    font-size: 18px;
    opacity: 0.9;
}

.console-button-div {
    text-align: right;
    border: 0px;
}


.show-nav {
    position: relative;
}

ul.category-list {
    list-style-type: disc;
}

ul.category-list a {
    color: #ffff;
    font-size: 16px;
}

.button-primary-outlined img {
    background-color: rgb(8, 8, 8);
    height: 64px;
    width: 64px;
}

.show-nav img {
    background: rgba(0, 0, 0, 0);
    height: 64px;
    width: 64px;
}

.show-nav {
    background: rgba(0, 0, 0, 0);
    border: 0px;
    margin-left: 32px;
}

.close-button-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 16px;
}

.cart-header {
    margin-left: $gap;
}

.text-right {
    margin-left: $gap;
}

.text-right button {
    background: #ffff;
    border: 1px solid aqua;
    box-sizing: border-box;
    border-radius: 20px;
    width: 128px;
    height: 46px;
    font-size: 18px;
    line-height: 18px;
    color: rgb(8, 8, 8);
    margin-bottom: 53px;
    margin-top: 12px;
}

.site-nav div,
h3 {
    margin-bottom: 16px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 256px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

p.movions {
    padding-top: 16px;
}

td.movion {
    padding-top: 16px;
}

td.movion-total {
    padding-top: 64px;
}

.show-nav:hover {
    background-color: opacify($color: #00000000, $amount: 0);
}

#myBtn:hover {
    background-color: opacify($color: #00000000, $amount: 0);
}

a.show-nav:hover {
    background-color: opacify($color: #00000000, $amount: 0);
}

.go-top {
    position: fixed;
    right: 256px;
    top: 95%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    border: none;
    background-color: none;
}

.go-top button {
    background-color: opacify($color: #00000000, $amount: 0);
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
}

.go-top button:hover {
    background-color: opacify($color: #00000000, $amount: 0);
}

.go-top--show {
    display: block;
}